{% block styles %}
<link rel="stylesheet" href="../static/styles/profile.css">
{% endblock %}

{% extends 'base.html'%}

{% block content %}
{% include '/includes/nav.html' %}
<div class="mainProfileDiv {% if current_user.team.count() > 5%} fight {% endif %}">
    <h1>
        {% if current_user.team.count() > 5%}
            Let's <a class='fightLink' href="{{url_for('main.fight')}}">fight!</a>
        {% else %}
            {{current_user.username}}'s Current Team:
        {% endif %}
    </h1>
    <div class="innerProfileDiv">
        {% for poke in current_user.team %}
        {% with sprite=poke.sprite,
        pokemonName=poke.name,
        ability=poke.ability,
        hp=poke.hp,
        att=poke.att,
        df=poke.df %}
        {% include '/includes/card.html' %}
        {% endwith %}
        {% endfor %}
    </div>
</div>
{% include '/includes/search.html' %}
{% endblock %}