* {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(162, 93, 23);
    color:rgb(36, 13, 1)
}

.turdContainer {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.turd {
    width: 4vw;
    height: 10vh;
    background-color: #4a2003;
    border: solid rgb(36, 13, 1) 2px;
    border-radius: 30%;
}

.errorMessage {
    color: red;
    background-color: black;
    border: white dotted 2px;
    border-radius: 12px;
    margin-top: 100px;
}

.submitButton {
    padding: 5px;
    background-color: antiquewhite;
    color: black;
    border: solid red 2px;
    border-radius: 22px;
}

.submitButton:hover {
    background-color: black;
    color: red;
}