.mainProfileDiv {
    margin: 200px auto 0 auto;
    height: 400px;
    width: 90vw;
    background-color: black;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.innerProfileDiv {
    display: flex;
    color: black;
    border-radius: 8px;
    width: 100%;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.ready {
    border: red solid 7px;
}