body {
    background-image: linear-gradient(to bottom, rgba(148, 240, 240, .5), rgba(199, 127, 163, .5)),
                      url('../images/pikachu.jpeg');
    background-size: cover; 
    color: black;
}

.signupForm {
    background-color: rgba(255, 207, 145, 0.93);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black double 22px;
    border-radius: 12px;
    width: 90%;
    min-width: 500px;
    max-width: 750px;
    padding: 20px;
    gap: 10px;
    margin: 120px auto;
}

.header {
    text-align: center;
    margin: 0;
}

.organizeForm {
display: flex;
flex-direction: column;
align-items: space-between;
}

.fullSignupDiv {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 40px;
}

.organizeFormPink {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    background-color: rgba(218, 143, 143, .5);
    padding: 20px;
    border: black solid 1px;
    border-radius: 4px;;
    height: 300px;
}

.signupButton {
    width: 100%;
    background-color: goldenrod;
    border-radius: 5px;
    height: 30px;
}

.signupButton:hover {
    background-color: rgb(218, 143, 143);
}

.signupInput {
    padding: 5px;
}

span {
    width: 5px;
}

.loginButton {
    width: 40%;
    background-color: goldenrod;
    border-radius: 5px;
    height: 30px;
}
.loginButton:hover {
    background-color: rgb(218, 143, 143);
}