{% block styles %}
<link rel="stylesheet" href="../static/styles/holyshit.css">
{% endblock %}

{% extends 'base.html' %}

{% block title %}
Holy Shit!
{% endblock %}

{% block content %}
<h1 class="errorMessage">HOLY SHIT!</h1>
<div class="turdContainer">
<div class="turd"><div class="turd"></div><div class="turd"><div class="turd"><div class="turd"><div class="turd"></div></div></div></div></div>
</div>
<div class="turdContainer">
<div class="turd"><div class="turd"></div><div class="turd"><div class="turd"><div class="turd"><div class="turd"></div></div></div></div></div>
</div>
<div class="turdContainer">
<div class="turd"><div class="turd"></div><div class="turd"><div class="turd"><div class="turd"><div class="turd"></div></div></div></div></div>
</div>

<h1 class="errorMessage">Looks like that imaginary creature doesn't exist...</h1>
<form method="PUT">
<input type="submit" class="submitButton" value="Try Again">
</form>

{% endblock %}