{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
{% endblock %}

{% extends 'base.html' %}

{% block content %}

<article class="mw5 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10 shadow-5">
    <div class="tc">
      <img src={{ stats['sprites']['other']['official-artwork']['front_default'] }} class="br-100 h3 w3 dib" title="Photo of a kitty staring at you">
      <h1 class="f4">{{pokemonName}}</h1>
      <hr class="mw3 bb bw1 b--black-10">
    </div>
  <h2>Ability: {{stats.abilities[0].ability.name}} </h2>
 
  </article>
  <pre>{{stats}}</pre>
  {% endblock %}