{% block styles %}
<link rel="stylesheet" href="../static/styles/pokemonForm.css">
{% endblock %}

{% extends 'base.html' %}

{% block title %}
PokeBattle!
{% endblock %}

{% block content %}
<div class="pokemonForm flexy">
    <h1 class="greeting">Hello Thieves!</h1>
    <div class="pokemonForm">
        <form method="POST" class="pokemonForm">
                <label for="pokemonName">Pokemon:</label>
                <input type="text" name="pokemonName" id="pokemonName" placeholder="Your favorite Pokemon"
                    class="pokemonInput" />
                <input type="submit" class="pokemonInput submit" />
        </form>
    </div>
</div>
{% endblock %}