{% block styles %}
<link rel="stylesheet" href="../static/styles/signup.css">
{% endblock %}

{% extends 'base.html'%}

{% block content %}
{% include 'includes/nav.html'%}
<div class="background">
    
    <form method="POST" class="signupForm ">
        <h1 class="header">Sign Up!</h1>
        {{ form.hidden_tag() }}
        <div class="fullSignupDiv">
        <div class="organizeFormPink">
            <div class="organizeForm">
                <label for="username">Username:</label>
                {{ form.username(class="signupInput", placeholder="Bojangles_69", id="username") }}
            </div>
            <div class="organizeForm">
                <label for="login_email">Email:</label>
                {{ form.email(class="signupInput", placeholder="Boj@yahoo.com", id="email") }}
            </div>
            <div class="organizeForm">
                <label for="password">Password:</label>
                {{ form.password(class="signupInput", placeholder="keep it secret", id="password") }}
            </div>
            <div class="organizeForm">
                <label for="confirm_password">Confirm Password:</label>
                {{ form.confirm_password(class="signupInput", id="confirm_password", placeholder="keep it safe") }}
            </div>

            {{ form.submit(class="signupButton") }}
        </div>
    </div>
    </form>

</div>
{% endblock %}