{% block styles %}
<link rel="stylesheet" href="../static/styles/card.css">
{% endblock %}

{% block content %}
<div class="outerCard">
<article class="mainCard">
    <div class="spriteContainer">
      <img src={{ sprite }} class="sprite br-100 h3 w3 dib" title={{pokemonName}}>
      <h2 class="titles">{{pokemonName}}</h2>
      <hr class="myLine">
    </div>
  <h3 class="titles">Ability:</h3>
  <p class="ability">"{{ability}}"</p>
  <div class="statsContainer">
  <h4 class="stats">HP: {{ hp }}</h4>
  <h4 class="stats">ATT: {{ att }}</h4> 
  <h5 class="stats">DEF: {{ df }}</h5>
</div>
  </article>
  <a class="deleteLink" href="{{url_for('main.delete', pokemon=pokemonName)}}"><button 
    class="delete">Set Free</button></a>
  
</div>
  {% endblock %}