{% block styles %}
<link rel="stylesheet" href="../static/styles/pokemonForm.css">
{% endblock %}

{% extends 'base.html' %}

{% block title %}
PokeBattle!
{% endblock %}

{% block content %}

{% include 'nav.html' %}
<div class="top"></div>
<div class="pokemonForm flexy">
    <h1 class="greeting">Hello Thieves!</h1>
    <div class="pokemonForm">
        <form method="POST" class="pokemonForm">
            {{ form.hidden_tag() }}
                <label for="pokemonName">Pokemon:</label>
                {{ form.pokemon(class="pokemonInput", placeholder="Your Favorite Pokemon", id="pokemonName") }}
                {{ form.submit(class="pokemonInput submit") }}
        </form>
    </div>
</div>
{% endblock %}